@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8FAFC;
    --foreground: #0A0A0A;
    --card: #FFFFFF;
    --card-foreground: #0A0A0A;
    --popover: #FFFFFF;
    --popover-foreground: #0A0A0A;
    --primary: #00F2FF;
    --primary-foreground: #0A0A0A;
    --secondary: #E2E8F0;
    --secondary-foreground: #0A0A0A;
    --muted: #F1F5F9;
    --muted-foreground: #64748B;
    --accent: #00F2FF;
    --accent-foreground: #0A0A0A;
    --destructive: #EF4444;
    --destructive-foreground: #F8FAFC;
    --border: #E2E8F0;
    --input: #E2E8F0;
    --ring: #00F2FF;
    --radius: 0.75rem;
    --sidebar: #0A0A0A;
    --sidebar-foreground: #E2E8F0;
    --sidebar-primary: #00F2FF;
    --sidebar-primary-foreground: #0A0A0A;
    --sidebar-accent: #1A1A1A;
    --sidebar-accent-foreground: #00F2FF;
    --sidebar-border: #1A1A1A;
    --sidebar-ring: #00F2FF;
  }

  .dark {
    --background: #0A0A0A;
    --foreground: #E2E8F0;
    --card: #141414;
    --card-foreground: #E2E8F0;
    --popover: #141414;
    --popover-foreground: #E2E8F0;
    --primary: #00F2FF;
    --primary-foreground: #0A0A0A;
    --secondary: #1A1A1A;
    --secondary-foreground: #E2E8F0;
    --muted: #1A1A1A;
    --muted-foreground: #94A3B8;
    --accent: #1A1A1A;
    --accent-foreground: #00F2FF;
    --destructive: #7F1D1D;
    --destructive-foreground: #FECACA;
    --border: #1A1A1A;
    --input: #1A1A1A;
    --ring: #00F2FF;
    --sidebar: #050505;
    --sidebar-foreground: #94A3B8;
    --sidebar-primary: #00F2FF;
    --sidebar-primary-foreground: #0A0A0A;
    --sidebar-accent: #1A1A1A;
    --sidebar-accent-foreground: #00F2FF;
    --sidebar-border: #1A1A1A;
    --sidebar-ring: #00F2FF;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[x-cloak] {
    display: none !important;
}
